img{
    width: 200px;
}
h3{
    margin-left: 50px;
}
a{color: red;}
img{
    width:;
}
.star{
    width: 20px;
    margin-left: 50px;
    
}
.startext{
    
    margin-left: 80px;
    margin-top: 0;
   
}